#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=FRESHMusicPlayer
GenericName=Music Player
Categories=Audio;Music;Player;AudioVideo;X-Multimedia;
Exec=fmp %U
Icon=io.github.royce551.FRESHMusicPlayer
MimeType=audio/mp3;audio/mpeg;audio/mpeg3;audio/wav;audio/ogg;audio/mp4;video/avi;video/msvideo;video/mpeg;video/quicktime;video/x-ms-wmv;
#T:A list of words that can be searched for. Please ensure that the list also ends with a semicolon!
Keywords=audio;music;cd;player;fmp;
StartupWMClass=FRESHMusicPlayer
